#faq .hidden {
  display: none;
}

h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

#subject-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  a {
    margin: 1rem 1rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid white;
    transition: all 0.5s linear;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }
  }
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;

  h3 {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin-bottom: 2rem;

  }
  div.section-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    box-shadow: 0 0 5px white;
    width: 80%;
    padding: 2rem;
    margin-bottom: 5rem;
  }

  div div.outer-wrapper {
    margin-bottom: 1rem;
  }

  .vraag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid white;

    svg {
      fill: white;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      transition: transform 1s linear;

      &.down {
        transform: rotate(0deg);
      }

      &.up {
        transform: rotate(180deg);
      }
    }

    h4 {
      font-size: 2rem;
      margin-right: 0.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .antwoord {
    margin: 2rem 0;
    p {
      font-size: 1.5rem;
    }
  }
}