/*general files to add*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
}

body, html {
  background-color: rgb(0, 0, 0);
  background-size: 30%;
  color: rgb(255, 255, 255);
  height: 100%;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.smaller-format {
  display: none;
}

header nav a[href="#"] {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 900px) {
  .smaller-format {
    display: block;
  }
  .bigger-format {
    display: none;
  }
}
/*bigger format*/
@media only screen and (min-width: 901px) {
  header nav {
    padding: 2rem 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0rem;
  }
  header nav img {
    height: 7rem;
    width: auto;
  }
  header nav img:hover {
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
    cursor: pointer;
  }
  header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
  }
  header nav a:hover {
    text-shadow: 0 0 7px rgb(255, 255, 255);
    border-bottom: 0.1rem solid rgb(255, 255, 255);
  }
  header nav #icons {
    display: inline-grid;
  }
  header nav #icons .phone {
    transform: rotate(90deg);
  }
  header nav #icons svg {
    fill: rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    margin: 0.2rem;
    transition: text-shadow 400ms;
    text-align: center;
  }
  header nav #icons svg:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
  }
}
/*smaller format*/
@media only screen and (max-width: 900px) {
  .nav-popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
  }
  header .smaller-format.hidden {
    display: none;
  }
  header .smaller-format h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  header .smaller-format p {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  header .smaller-format #picture-and-menu-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  header .smaller-format #picture-and-menu-bars img {
    margin: 1rem 0;
    height: 10rem;
    width: auto;
  }
  header .smaller-format #picture-and-menu-bars #smaller-format-menu-svg {
    width: 2rem;
    height: auto;
    fill: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  header .smaller-format #smaller-format-nav {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .smaller-format #smaller-format-nav.hidden {
    display: none;
  }
  header .smaller-format #smaller-format-nav a {
    margin: 1rem 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
  }
  header .smaller-format #smaller-format-nav a:hover {
    border-bottom: solid rgb(255, 255, 255) 0.1rem;
  }
  header .smaller-format #smaller-format-nav #smaller-format-icons {
    display: flex;
    justify-content: center;
  }
  header .smaller-format #smaller-format-nav #smaller-format-icons svg {
    margin: 1rem 0.5rem 0 0.5rem;
    width: 2rem;
    height: 2rem;
    fill: rgb(255, 255, 255);
  }
  header .smaller-format #smaller-format-nav #smaller-format-icons svg.phone {
    transform: rotate(90deg);
  }
  header .smaller-format #smaller-format-nav #smaller-format-icons svg:hover {
    cursor: pointer;
  }
}
@keyframes menuRotationAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
/*remove this line when out of beta!*/
.popup {
  display: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.stop-scrolling {
  overflow: hidden;
}

.popup-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 50px white;
  border-radius: 1rem;
  text-align: center;
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.popup-content h2 {
  font-size: 3rem;
  margin: 0 0 20px 0;
}
.popup-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 0;
}
.popup-content button {
  color: white;
  background-color: black;
  border-radius: 0.5rem;
  border: solid white 0.1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.popup-content button:hover {
  text-shadow: 0 0 5px white;
  cursor: pointer;
}

#disclaimer {
  position: relative;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 2;
}
#disclaimer p {
  text-align: center;
  font-size: 2rem;
}

body {
  display: flex;
  flex-direction: column;
}

#contact .hidden {
  display: none;
}

#contact .buttons button, #contact .button {
  background-color: black;
  border-radius: 0.5rem;
  color: #fff;
  border: solid white 0.1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: text-shadow 400ms;
}

#contact .buttons button:hover, #contact .button:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #fff;
}

#onze-gegevens, main {
  height: 100%;
}

#onze-gegevens {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#onze-gegevens p {
  font-size: 2rem;
  margin: 1rem 0;
}

#onze-gegevens .buttons {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  gap: 1rem;
}

#onze-gegevens .buttons button {
  background-color: black;
  border-radius: 0.5rem;
  color: #fff;
  border: solid white 0.1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: text-shadow 400ms;
}

#onze-gegevens .buttons button:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #fff;
}

#contactgegevens {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#contactgegevens .gegevens {
  display: flex;
  margin-bottom: 1rem;
}

#contactgegevens svg {
  fill: white;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

#contactgegevens svg:hover {
  filter: drop-shadow(0 0 7px #fff);
  cursor: pointer;
}

#contactgegevens p {
  font-size: 2rem;
}

#contactgegevens .outer-wrapper-button {
  display: flex;
  justify-content: center;
}

form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-fieldset {
  border: solid white 5px;
  border-radius: 1rem;
  padding: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5rem;
}

.contact-form-fieldset .bar {
  flex: 1 1 auto;
  height: 0.5rem;
  background-color: gray;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.contact-form-fieldset .bar div {
  border-radius: 1rem;
  display: inline-block;
  background-color: white;
  width: 20%;
  height: 0.5rem;
  position: absolute;
  left: 0;
  right: 10%;
}

.contact-form-fieldset li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.contact-form-fieldset legend {
  font-size: 3rem;
  text-align: center;
}

.contact-form-fieldset label {
  font-size: 2.5rem;
  width: 40%;
  display: inline-block;
}

.contact-form-fieldset input {
  color: white;
  font-size: 1.5rem;
  width: 50%;
  background-color: transparent;
  border: none;
  border-bottom: solid white 1px;
  -moz-appearance: textfield;
}

.contact-form-fieldset input:focus {
  outline: none;
  border-bottom: solid white 3px;
}

.contact-form-fieldset .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.contact-form-fieldset#configuratie ul #no-configuratie-li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-fieldset#configuratie ul li#configuratie-li {
  justify-content: center;
}

.contact-form-fieldset#configuratie #configuratie-div {
  border-radius: 1rem;
  border: 3px solid white;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 2rem 0;
}

.contact-form-fieldset#configuratie h3 {
  text-align: center;
}

.contact-form-fieldset#configuratie #configuratie-flex-container {
  display: flex;
  gap: 1rem;
}

.contact-form-fieldset#configuratie #configuratie-flex-container li {
  margin: 0.5rem 0;
}

/* Alles voor bar animatie */
.contact-form-fieldset#persoonlijke-gegevens .bar div {
  width: 20%;
}

.contact-form-fieldset#persoonlijke-gegevens .bar div.forward-bar-animation {
  animation: barAnimation0to20 1s;
}

.contact-form-fieldset#persoonlijke-gegevens .bar div.backward-bar-animation {
  animation: barAnimation20to40 reverse 1s;
}

.contact-form-fieldset#auto-gegevens .bar div {
  width: 40%;
}

.contact-form-fieldset#auto-gegevens .bar div.forward-bar-animation {
  animation: barAnimation20to40 1s;
}

.contact-form-fieldset#auto-gegevens .bar div.backward-bar-animation {
  animation: barAnimation40to60 reverse 1s;
}

.contact-form-fieldset#configuratie .bar div {
  width: 60%;
}

.contact-form-fieldset#configuratie .bar div.forward-bar-animation {
  animation: barAnimation40to60 1s;
}

.contact-form-fieldset#configuratie .bar div.backward-bar-animation {
  animation: barAnimation60to80 reverse 1s;
}

.contact-form-fieldset#bericht .bar div {
  width: 80%;
}

.contact-form-fieldset#bericht .bar div.forward-bar-animation {
  animation: barAnimation60to80 1s;
}

.contact-form-fieldset#bericht .bar div.backward-bar-animation {
  animation: barAnimation80to100 reverse 1s;
}

.contact-form-fieldset#bericht textarea {
  background-color: black;
  color: white;
  outline: none;
  padding: 0.6rem;
  border-radius: 1rem;
  height: 10rem;
}

.contact-form-fieldset#controle .bar div {
  animation: barAnimation80to100 1s;
  width: 100%;
}

@keyframes barAnimation0to20 {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}
@keyframes barAnimation20to40 {
  from {
    width: 20%;
  }
  to {
    width: 40%;
  }
}
@keyframes barAnimation40to60 {
  from {
    width: 40%;
  }
  to {
    width: 60%;
  }
}
@keyframes barAnimation60to80 {
  from {
    width: 60%;
  }
  to {
    width: 80%;
  }
}
@keyframes barAnimation80to100 {
  from {
    width: 80%;
  }
  to {
    width: 100%;
  }
}

/*# sourceMappingURL=contact.css.map */
