main{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
}
main h1{
    font-size: 3em;
    padding-top: 3em;
}
img{
    width: 40em;
}
#textRow1{
    grid-column-start: 0;
    grid-row-start: 0;
    grid-column-end: 0;
    grid-row-end: 0;
}
#imageRow1{
    grid-column-start: 2;
    grid-row-start: 0;
    grid-column-end: 2;
    grid-row-end: 1;
}