main{
    background-image: url("../media/starrySky.png");
    background-size: 30%;
}
main h1{
    font-size: 3em;
    margin-top: 4em;
}
img{
    width: 40em;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.grid1{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.row1{
    height: 30em;
}
#textRow1{
    text-align: center;
    grid-column-start: 0;
    grid-row-start: 0;
    grid-column-end: 0;
    grid-row-end: 0;
}
#imageRow1{
    margin-left: auto;
    padding-top: 4em;
    grid-column-start: 1;
    grid-row-start: 0;
    grid-column-end: 1;
    grid-row-end: 1;
}
.row2{
    height: 30em;
}
#textRow2{
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 1;
    grid-row-end: 1;
}
#imageRow2{
    padding-top: 4em;
    grid-column-start: 0;
    grid-row-start: 1;
    grid-column-end: 1;
    grid-row-end: 1;
}
#features{
    background-color: black;
    width: 80%;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 4px #fff;
    border-radius: 1rem;
}
#features .flex-container{
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
    flex-wrap: wrap;
}
.flex-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20rem;
    border-radius: 1rem;
}
#features h1{
    margin-top: 0;
    font-size: 4em;
    padding-top: 1em;
}
#features p{
    font-size: 1.5em;
    padding-top: 1rem;
}
#features div div img{
    width: 100%;
}