#faq .hidden{
    display: none;
}
nav:first-of-type a[href="#"]{
    border-bottom: 1px solid white;
}
h2{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
section div#section-wrapper{
    background-color: rgba(0,0,0,0.7);
    border-radius: 1rem;
    box-shadow: 0 0 5px white;
    width: 40%;
    padding: 2rem;
}
section div div.outer-wrapper{
    margin-bottom: 1rem;
}
section .vraag{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid white;
}
section .vraag h3{
    font-size: 2rem;
}
section .vraag svg{
    fill: white;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 1s linear;
}
section .vraag svg.down{
    transform: rotate(0deg);
}
section .vraag svg.up{
    transform: rotate(180deg);
}
section .antwoord{
    margin: 2rem 0;
}
section .antwoord p{
    font-size: 1.5rem;
}