body, html {
    background-color: black;
    background-image: url("../media/starrySky.png");
    background-size: 30%;
    color: white;
    height: 100%;
}

.hidden {
    display: none;
}

.smaller-format {
    display: none;
}

header nav[aria-label="main-menu"] a[href="#"] {
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 900px) {
    .smaller-format {
        display: block;
    }

    .bigger-format {
        display: none;
    }
}
