#prijs-pagina .hidden {
    display: none;
}

header a:nth-child(3) {
    border-bottom: solid 0.1rem #fff;
}

#prijs-pagina main h1 {
    text-align: center;
    font-size: 3rem;
}

#prijs-pagina main .flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#prijs-pagina #page-title p {
    margin-top: 1rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.1rem;
}
#prijs-pagina main .outer-wrapper{
    margin: 5rem 5rem 8rem 5rem;
}
#prijs-pagina main .outer-wrapper.extra-opties{
    margin: 5rem 5rem 0 5rem;
}
#prijs-pagina main .outer-wrapper h2.container-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-bottom: 2rem;
}
#prijs-pagina main div .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    width: 15rem;
    max-width: 15rem;
    border-radius: 1rem;
    height: 20rem;
    padding: 1rem;
}

#prijs-pagina div.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#prijs-pagina button {
    background-color: black;
    border-radius: 0.5rem;
    border: solid white 0.1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 2rem 0;
}

#prijs-pagina button a {
    color: white;
    text-decoration: none;
    transition: text-shadow 400ms;
}

#prijs-pagina button a:hover {
    cursor: pointer;
    text-shadow: 0 0 5px #fff;
}

#prijs-pagina main div .container {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px #fff;
    margin-bottom: 4rem;
}

#prijs-pagina main div .container:hover {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    box-shadow: 0 0 8px #fff;
}

#prijs-pagina main .container h2 {
    font-size: 2rem;
    text-align: center;
}

#prijs-pagina main .container p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.1rem;
}

#prijs-pagina main h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
