/* Error: The default namespace "" is not a valid Sass identifier.
 * 
 * Recommendation: add an "as" clause to define an explicit namespace.
 *   ,
 * 1 | @use ".";
 *   | ^^^^^^^^
 *   '
 *   smaller-format-index-header.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The default namespace "" is not a valid Sass identifier.\a\aRecommendation: add an "as" clause to define an explicit namespace.\a   \2577 \a 1 \2502  @use ".";\d\a   \2502  ^^^^^^^^\a   \2575 \a   smaller-format-index-header.scss 1:1  root stylesheet';
}
